
.App {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

main{
  padding-top: 100px;
}

header{
  grid-area: h;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding:1rem;
  align-items: center;
  width: 100%;
  min-height: 50px;
  box-shadow: 0 0 5px black;
  position: fixed;
  top: 0;
}
header h1{
  font-size: clamp(1rem,5vw,2rem);
}
header input{
  border-radius: 25px;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  box-shadow:0 0 5px black;
}

